.exampleone-red {
  background-color: red;
  font-size:x-large;
  height:60%;
}
.exampleone-gray {
  background-color: gray;
   font-size:x-large;
   height:40%;
}
.exampleone-blue {
  background-color:orange;
}
.container .game{
	background-color:orange;

}

.row.row-cols-1.game{
	height:100px;
}

.col.right-side{
	background-color:blue;
	width:20%;
}
.col.left-side{
	width:80%;
	height:600px;
}
.table-mondaibun{
	position:relative;
}
#start {
	z-index:1;
	position:absolute;
}
#start2 {
	z-index:2;
	position:absolute;
	color:orange;
}
.table-text{
	font-size: 25px;
	margin-bottom: 0px;
}
.container{
	margin-top:1em;
}

.time{
	font-size:x-large
}